#! /usr/bin/env python
PACKAGE='vehicle_control'

from dynamic_reconfigure.msg import SensorLevels
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       Name		        Type		  Reconfiguration level 			      Description			Default	Min 	 Max
gen.add("speed",      double_t, SensorLevels.RECONFIGURE_RUNNING, "Audibot Speed",     0.0,     -10.0,    20.0)
gen.add("steering",   double_t, SensorLevels.RECONFIGURE_RUNNING, "Audibot YawRate",   0.0,     -15.0,    15.0)

exit(gen.generate(PACKAGE, PACKAGE, "vehicle_control"))
