<?xml version="1.0"?>

<robot name="audibot_camera" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="audibot_camera" params="name parent_link x y z roll pitch yaw" >

    <link name="${name}" >
      <visual>
        <geometry>
          <box size="0.1 0.1 0.1" />
        </geometry> 
      </visual>
      <material>
        <color rgba="1 1 1 1" />
      </material>
    </link>

    <joint name="${name}_joint" type="fixed" >
      <parent link="${parent_link}" />
      <child link="${name}" />
      <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}" />
    </joint>

    <gazebo reference="${name}" >
      <material>Gazebo/White</material>

      <sensor type="camera" name="${name}_camera">
        <update_rate>30.0</update_rate>

        <camera name="cam">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>B8G8R8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
                 That pixel's noise value is added to each of its color
                 channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>

        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${name}</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
