<?xml version="1.0"?>
<robot name="hokuyo_urg_04" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="hokuyo_urg_04" params="name parent_frame x y z roll pitch yaw" >
    <link name="${name}" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robot_sensors/meshes/hokuyo.dae" />
        </geometry>      
      </visual>
    </link>

    <joint name="${name}_joint" type="fixed" >
      <parent link="${parent_frame}" />
      <child link="${name}" />
      <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}" />
    </joint>

    <gazebo reference="${name}">
      <sensor type="ray" name="${name}-hokuyo">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>666</samples>
              <resolution>1</resolution>
              <min_angle>-2.094298776</min_angle>
              <max_angle> 2.094298776</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.05</min>
            <max>5.0</max>
            <resolution>0.001</resolution>
          </range>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.00</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_laser.so">
          <topicName>/${name}/scan</topicName>
          <frameName>/${name}</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot> 
